DB_TYPE=sqlite
NODE_ENV=development
DB_LOGGING=false
PORT=8090
SWITCH_AE_ID=switch
SWITCH_APPLICATION_NAME=HEALTH_INTEROPERABILITY_SWITCH
SWITCH_APPLICATION_NAMESPACE_ID=HEALTH_INTEROPERABILITY_SWITCH
SWITCH_APPLICATION_UUID=00000000-0000-0000-0000-000000000001
SWITCH_APPLICATION_ID_TYPE=UUID
CODING_CONCEPT_BASE_URL=http://127.0.0.1:3011/api/v1
ENABLE_ROUTE_VALIDATIONS=true
